@tailwind utilities;

@layer utilities {
  .btn-gradient {
    @apply text-white  text-center capitalize;
    background-image: linear-gradient(
      to right,
      theme(colors.primary.DEFAULT) 0%,
      theme(colors.secondary.DEFAULT) 50%,
      theme(colors.primary.DEFAULT) 100%
    );
    background-size: 200% auto;
    transition: all 0.5s ease;
  }
  .btn-gradient:hover {
    background-position: right center;
  }

  .border-gradient {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      theme(colors.secondary.DEFAULT) 40%,
      theme(colors.primary.DEFAULT) 60%
    );
  }
  .gradient {
    background: linear-gradient(
      to right,
      theme(colors.secondary.DEFAULT) 40%,
      theme(colors.primary.DEFAULT) 60%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .reverse-gradient {
    background: linear-gradient(
      to right,
      theme(colors.primary.DEFAULT) 40%,
      theme(colors.secondary.DEFAULT) 60%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .icon-animate {
    transform: scale(0.9);
    transition: all 0.2s ease-in-out !important;
    transition: opacity 0.6s;
  }

  .icon-animate:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out !important;
    transition: opacity 0.6s;
  }

  .section {
    @apply mx-auto py-[85px] md:max-w-6xl px-4 md:px-0;
  }

  .link-active {
    @apply border-gradient pb-1 text-white;
  }
  .scrollbar-medium::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-medium:hover::-webkit-scrollbar {
    width: 8px;
  }
}
