@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html,
body {
  font-family: "Droid Sans", arial, verdana, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  color: #ebd71c;
  background: url("../public/bg-stars.png") repeat;
  overflow: hidden;
  margin: 0;
}

#__next {
  width: 100%;
  height: 100%;
}

strong {
  color: #4bd5ee;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}
